body {
  background-color: #ff9d00;
  font-family : 'Comic Sans MS', cursive, sans-serif; }

header {
  background-color: white;
  padding: 9px 4vw;
}

header > img {
  height: 12vw;
  width: 14vw;
}

.text-with-shadow {
  text-shadow: 1px 1px 5px black;
}


