body {
  background-color: #ff9d00;
}

header {
  background-color: white;
  padding: 9px 4vw;
}

header > img {
  height: 12vw;
  width: 14vw;
}

.text-with-shadow {
  text-shadow: 1px 1px 5px black;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inside {
  background: white;
  padding: 30px;
  font-size: 24px;
}
